.loading1 {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #3787FE;
  font-size: large;
  font-family: "trek";
  font-weight: lighter;
  position: relative;
  background: #000000;
  border: black;
  height: 100%;
  width: fit-content;
  margin: 0% 0% 0% 0%;
  padding-bottom: 2vh;
  animation: scrollLeft 15s linear infinite;
  white-space: nowrap;
}

@keyframes scrollLeft {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.loading12 {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #3787FE;
  font-size: large;
  font-family: "trek";
  font-weight: lighter;
  position: relative;
  background: #000000;
  border: black;
  width: fit-content;
  margin: 0% 0% 10% 0%;
  animation: scrollLeft 15s linear infinite;
  white-space: nowrap;
}

.login1 {
    color: black;
    background: linear-gradient(to right, rgba(212, 95, 16, 0.7) 0%, rgba(212, 95, 16, 1) 50%, rgba(212, 95, 16, 0.7) 100%);
    border-radius: 5px;
    border: none;
    font-family: "trek";
    font-weight: bolder;
    font-size: x-large;
    padding: 10px;
    cursor: crosshair;
        &:hover {
          opacity: .6;
        }
}

body {
    background-color: #000000;
    font-family: "trek";
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    overflow-x: hidden;
}

h1 {
  margin-top: 10px;
  margin-bottom: 0;
  height: 3vh;
  font-size: 2vh;
  color: aqua;
  font-family: "trek";
}

p {
    color: aqua;
    font-family: "trek";
    background-color: black;
}

.prefooter {
  border-left: 55px solid transparent;
  margin-left: 2%;
  margin-right: 8%;
  margin-top: 2px;
  color: aqua;
  background: linear-gradient(to right, rgba(55, 135, 254, 0.7) 0%, rgba(55, 135, 254, 1) 50%, rgba(55, 135, 254, 0.7) 100%);;
}

.inside-prefooter {
  padding-left: 2%;
  height: 100%;
  width: 100;
  background-color: black;
}

footer {
  border-bottom: 25px solid transparent;
  border-left: 55px solid transparent;
  border-radius: 25px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0%;
  border-bottom-right-radius: 0px;
  padding: 0;
  left: 0;
  right: 0;
  margin: 1% 2% 1% 2%;
  position: relative;
  background: linear-gradient(to right, rgba(206, 151, 18, 0.7) 0%, rgba(206, 151, 18, 1) 50%, rgba(206, 151, 18, 0.7) 100%);
  flex-wrap: nowrap;
  overflow: hidden;
}

footer a {
    font-family: "trek";
}

a {
  font-family: "trek";
  color: #D45F10;
}

a:hover {
    text-decoration: underline;
    color: #D45F10;
}

a:visited {
  color: #D45F10;
}

footer p {
  border-left: 30px solid black;
  border-right: 30px solid black;
  border-top: 3px solid black;
  border-bottom: 3px solid black;
  font-size: small;
  margin: 0;
}

.content {
  border-top: 3vh solid transparent;
  border-left: 55px solid transparent;
  border-top-left-radius: 25px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
  margin: 0% 2% 1% 2%;
  overflow: hidden;
  position: relative;
  height: fit-content;
  box-shadow: none;
  background: linear-gradient(to right, rgba(206, 151, 18, 0.7) 0%, rgba(206, 151, 18, 1) 50%, rgba(206, 151, 18, 0.7) 100%);
}

.contentz {
  border-left: 55px solid transparent;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
  margin: 0% 2% 1% 2%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow: hidden;
  position: relative;
  height: fit-content;
  box-shadow: none;
  background: linear-gradient(to right, rgba(212, 95, 16, 0.7) 0%, rgba(212, 95, 16, 1) 50%, rgba(212, 95, 16, 0.7) 100%);
}

.left {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #3787FE;
  font-size: x-large;
  font-family: "trek";
  font-weight: lighter;
  position: relative;
  background: #000000;
  overflow: hidden;
  border: black;
  height: auto;
  width: 100%;
  border-top: 25px solid transparent;
  border-left: 55px solid transparent;
  border-top-left-radius: 25px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
  margin: 0% 0% 0% 0%;
  padding-bottom: 2vh;
}

.leftz {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #3787FE;
  font-size: x-large;
  font-family: "trek";
  font-weight: lighter;
  position: relative;
  background: #000000;
  overflow: hidden;
  border: black;
  height: auto;
  width: 100%;
  border-top: 25px solid transparent;
  border-left: 55px solid transparent;
  margin: 0% 0% 0% 0%;
  padding-bottom: 2vh;
}

.right {
  max-width: 40%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #3787FE;
  font-size: x-large;
  font-family: "trek";
  font-weight: lighter;
  position: relative;
  background: black;
  border: black;
  height: auto;
  max-height: 100%;
  width: 100%;
  border-top: 25px solid transparent;
  border-left: 55px solid transparent;
  border: solid transparent;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  margin: 0% 0% 0% 0%;
  padding: 0;
}

.card {
  margin-bottom:20px;
  position: relative;
  height: 300px;
  width: 200px;
  border: 15px lightblue solid;
  transform-style: preserve-3d;
  transition: transform 0.2s;
  
  &:before, &:after {
    content: '';
  }
  
  &:before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 8;
    
    border-top: 60px solid lightblue;
    border-right: 60px solid transparent;
  }
  
  &:after {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    border-top: 62px solid rgb(0, 0, 0);
    border-right: 62px solid transparent;
  }
  
  .team_logo {
    position: absolute;
    z-index: 15;
    width:60px;
    border-radius:50%;    
    top: 0px;
    left: 0px;
  }
  
  .player {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    height: 296px;
    width: 196px;
    border: 2px rgb(0, 0, 0) solid;
  }
  
  figcaption {
    line-height: 16px;
    position: absolute;
    bottom: -10px;
    right: 0;
    width: 66%;
    height: 30px;
    text-align: center;
    font-size: 90%;
    background: rgb(195, 67, 67);
    border: 2px rgb(0, 0, 0) solid;
    z-index: 10;
    font-family: "trek";

    &:before, &:after {
      content: '';
    }
    
    &:before {
      position: absolute;
      bottom: 32px;
      right: -2px;
      z-index: 18;
      border-bottom: 15px solid lightblue;
      border-left: 15px solid transparent;
    }

    &:after {
      position: absolute;
      bottom: 32px;
      right: -2px;
      z-index: 15;
      border-bottom: 17px solid rgb(0, 0, 0);
      border-left: 17px solid transparent;
    }
  }
}

.card.flipped {
    transform: rotateY(180deg);
}

.front, .back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.back {
    transform: rotateY(180deg);
    background-color: rgb(184, 88, 232);
    font-weight: bolder;
    padding: 2px;
    overflow: scroll;
    word-break: break-all;
    border: 2px rgb(0, 0, 0) solid;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  border: 0 !important;
  background: #2c3e50;
  background-image: none;
}
select::-ms-expand {
  display: none;
}
.select {
  position: relative;
  display: flex;
  width: 230px;
  height: 3em;
  line-height: 3;
  background: #2c3e50;
  overflow: hidden;
  border-radius: .25em;
  margin-bottom:20px
}
select {
  flex: 1;
  padding: 0 .5em;
  color: #fff;
  cursor: pointer;
}
.select::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 1em;
  background: #34495e;
  cursor: pointer;
  pointer-events: none;
  -webkit-transition: .25s all ease;
  -o-transition: .25s all ease;
  transition: .25s all ease;
}
.select:hover::after {
  color: lightblue;
}


.notes {
    color: #2f2f2f;
    transform: 0;
    transform-style: none;
    box-shadow: none;
    background-color: #000000;
    border: 10px solid black transparent;
    border-radius: 80px;
    border-left-width: 45px;
    border-right-width: 45px;
    padding: 5%;
    background: linear-gradient(to right, rgba(206, 151, 18, 0.7) 0%, rgba(206, 151, 18, 1) 50%, rgba(206, 151, 18, 0.7) 100%);
    border-radius: 5px;
}

.notess {
  background: black;
  border: 30px black solid;
  border-radius: 80px;
}

.numbering {
    font-family: "trek";
    color: black;
    border-radius: 5px;
    padding: 1%;
    box-shadow: none;
    width: fit-content;
    height: fit-content;
    cursor: crosshair;
    transform-style: none;
    transition: none;
    background: linear-gradient(to right, rgba(9, 70, 238, 0.7) 0%, rgba(9, 70, 238, 1) 50%, rgba(9, 70, 238, 0.7) 100%);
    &:hover {
      opacity: .6;
      transform: none;
      box-shadow: none;
    }
}

.about {
  font-family: "trek";
  padding: 0, 5px, 0, 5px;
  overflow: scroll;
}

.text {
  font-family: "trek";
}

.date {
    border-bottom: 2px solid #2f2f2f;
    border-top: 2px solid #2f2f2f;
    padding: 12px 0 12px 0;
    font-family: "trek";
    color: aqua;
    font: x-small;
}

.zap {
    font-family: "trek";
    color: black;
    margin-left: 70%;
    padding: 1%;
    cursor: crosshair;
    transform-style: none;
    transition: none;
    background: linear-gradient(to right, rgba(212, 95, 16, 0.7) 0%, rgba(212, 95, 16, 1) 50%, rgba(212, 95, 16, 0.7) 100%);
    &:hover {
      opacity: .6;
      transform: none;
      animation: none;
    }
}

.notez {
    border: #2f2f2f double 5px;
}

@media screen and (max-width: 700px) {
  .loading1 {
    font-size: medium;
    margin: 12%;
  }
  .login1 {
    font-size: medium;
    margin: 12%;
  }
  .right {
    padding:0;
    max-width: 40%;
    margin-left: -2%;
  }
  .left {
    margin: 0;
    max-width: 60%;
  }
  .card {
    transform: scale(.6);
    margin-left: -22%;
  }
}